html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-hero img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.header {
    background-color: #1F2937;
    padding: 0px 200px;
}

.header-top {
    display: flex;
    align-items: center;
    padding: 18px 0;
}

.top-logo {
    margin-right: auto;
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.header-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    text-decoration: underline;
}

.header-hero {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 64px 0px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    border-style: none;
    border-radius: 8px;
    padding: 8px 32px;
}

.all-favorites {
    display: flex;
}

.info {
    padding: 0 200px 100px 200px;
    text-align: center;
}

.info-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 48px 0;
}

.all-favorites {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    color: #555c64;
}

.fave {
    max-width: 200px;
}

.fave img {
    max-width: 200px;
    height: auto;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.fave-title {
    margin: 8px 0px;
    font-style: italic;
    font-weight: 600;
    color:#384552;
}

.quotation {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 200px;
    display: flex;
    justify-content: center;
}

.quotation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 944px;
    gap: 8px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.byline {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
    margin-right: 56px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.signup-container {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 40px 108px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.call-to-action {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
}

.action-container {
    flex: 0 1 550px;
}

.signup-text {
    color: #E5E7EB;
}

.signup-container button {
    border: 3px solid #F9FAF8;
    border-radius: 8px;
    padding: 8px 32px;
}

.signup-container .button {
    flex: none;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 40px 0px;
}