html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
}

.hero img {
    width: 300px;
    height: auto;
}

.info img {
    width: 200px;
    height: auto;
}