html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
}

.header-hero img {
    max-width: 300px;
    height: auto;
}

.info img {
    width: 200px;
    height: auto;
}

.header {
    background-color: #1F2937;
    padding: 0px 200px;
}

.header-top {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.top-logo {
    margin-right: auto;
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.header-top ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

a:hover {
    text-decoration: underline;
}

.header-hero {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 64px 0px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}